body {
    min-width: 960px;

    font-size: 14px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #000000;

    background-color: #ffffff;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    min-height: 320px;

    background-image: linear-gradient(to bottom, #293449 42px, #f4f7f9 42px);
}

.header-top {
    display: flex;

    color: #ffffff;
}

.main-logo {
    width: 220px;
    margin-bottom: -5px;
}

.main-logo a {
    display: block;
    padding: 9px 0;
    padding-bottom: 14px;

    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    background-color: #ee3643;
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.main-logo a:hover {
    background-color: #ca2c37;
}

.main-logo a:active {
    background-color: #ba2732;
}

.form-search {
    position: relative;

    width: 270px;
}

.form-search input {
    box-sizing: border-box;
    width: 100%;
    padding: 11px 17px 13px 49px;

    font-size: 17px;
    line-height: 18px;
    color: #000000;

    background-color: transparent;
    border: none;
}

.form-search:hover {
    background-color: #212a3a;
}

.form-search input:focus {
    background-color: #ffffff;
}

.form-search input::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.search-button {
    position: absolute;
    top: 11px;
    left: 17px;

    width: 17px;
    height: 17px;
    padding: 0;

    background-color: transparent;
    border: none;
}

.search-button svg {
    fill: #ffffff;
    opacity: 0.3;
}

.form-search:hover svg {
    fill: #ffffff;
    opacity: 1;
}

.search-input:focus+.search-button svg {
    fill: #f26b74;
    opacity: 1;
}

.header-bookmark,
.header-cart {
    position: relative;

    width: 150px;
}

.header-bookmark a,
.header-cart a {
    display: block;
    padding: 12px 19px 12px 43px;

    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}

.header-cart a {
    padding: 12px 20px 12px 49px;
}

.header-bookmark svg {
    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    fill: #ffffff;
    opacity: 0.3;
}

.header-cart svg {
    position: absolute;

    top: 12px;
    left: 18px;

    width: 15px;
    height: 15px;

    fill: #ffffff;
    opacity: 0.3;
}

.header-bookmark a:hover,
.header-cart a:hover {
    background-color: #212a3a;
}

.header-bookmark a:active,
.header-cart a:active {
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

.header-bookmark:hover svg,
.header-cart:hover svg {
    fill: #ffffff;
    opacity: 1;
}

.header-bookmark:active svg,
.header-cart:active svg {
    fill: #ffffff;
    opacity: 0.5;
}

.header-place-order {
    width: 150px;
}

.header-place-order a {
    display: block;
    padding: 12px 0;

    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;

    background-color: #63a63e;
}

.header-place-order a:hover {
    background-color: #5fbb2d;
}

.header-place-order a:active {
    color: rgba(255, 255, 255, 0.51);

    background-color: #518534;
}

.header-middle {
    display: flex;
}

.about-market {
    width: 300px;
}

.about-market p {
    margin: 0;
    padding: 49px 53px 40px 51px;

    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    color: #ee3643;
}

.contact-info {
    width: 340px;
    padding-top: 46px;
}

.contact-phone {
    position: relative;

    display: inline-block;
    margin-left: 20px;
    padding: 10px 49px 8px 71px;

    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.contact-phone::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 15px;

    width: 19px;
    height: 19px;

    background: url("../img/icon-phone.svg") center no-repeat;
}

.contact-address {
    margin: 0;
    padding-top: 5px;
    padding-left: 30px;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.authorization {
    width: 300px;
    padding-top: 46px;
}

.authorization-active {
    display: none;
}

.user-login-button {
    position: relative;

    margin-left: 19px;
    margin-right: 6px;
    padding: 12px 26px 12px 47px;

    font: inherit;
    color: inherit;
    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
    border: none;
}

.user-login-button::before {
    content: "";

    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;

    background: url("../img/icon-login.svg") center no-repeat;
}

.user-login-button:hover {
    color: #ee3643;
}

.user-login-button:hover::before {
    background: url("../img/icon-login-hover.svg") center no-repeat;
}

.user-login-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-login-button:active::before {
    background: url("../img/icon-login.svg") center no-repeat;
}

.user-registration-button {
    padding: 12px 24px;

    font: inherit;
    color: inherit;
    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
    border: none;
}

.user-registration-button:hover {
    color: #ee3643;
}

.user-registration-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-wrapper {
    position: relative;
}

.user-name {
    position: relative;

    box-sizing: border-box;
    width: 300px;
    margin: 0;
    padding: 12px 35px 13px 47px;

    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.user-name::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 18px;

    background: url("../img/icon-user.svg") center no-repeat;
}

.user-logout-button {
    position: absolute;
    top: 14px;
    right: 10px;

    width: 20px;
    height: 18px;

    background: url("../img/icon-logout.svg") center no-repeat;

    border: none;
}

.user-wrapper:hover .user-name::before {
    background: url("../img/icon-user-hover.svg") center no-repeat;
}

.user-wrapper:hover .user-logout-button {
    background: url("../img/icon-logout-hover.svg") center no-repeat;
}

.user-wrapper:active .user-name {
    color: rgba(0, 0, 0, 0.3);
}

.user-wrapper:active .user-name::before {
    background: url("../img/icon-user.svg") center no-repeat;
}

.user-wrapper:active .user-logout-button {
    background: url("../img/icon-logout.svg") center no-repeat;
}

.user-menu {
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-menu-item {
    display: inline-block;
    padding-top: 8px;
    padding-left: 29px;
}

.user-menu-item:first-child {
    position: relative;

    padding-left: 18px;
}

.user-menu-item:first-child::after {
    content: "";

    position: absolute;
    top: 15px;
    right: -18px;

    width: 5px;
    height: 5px;

    background-color: #32425c;
    border-radius: 50%;
}

.user-menu-item a {
    display: inline-block;

    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

.user-menu-item a:hover {
    color: #ee3643;
}

.user-menu-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-menu {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.menu-item a {
    display: block;
    padding: 19px 29px 24px 29px;

    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #ffffff;

    background-color: #32425c;
    box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
}

.menu-item:first-child a {
    padding-left: 52px;
    padding-right: 32px;
}

.menu-item:last-child a {
    padding-left: 33px;
    padding-right: 55px;
}

.menu-item a:hover {
    background-color: #293449;
}

.menu-item a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.type-of-goods-list {
    margin: 0;
    padding: 59px 0 20px 0;

    list-style: none;
}

.type-of-goods-item {
    position: relative;

    display: inline-block;
    width: 300px;
    margin: 0;
    margin-right: 16px;
    padding-top: 22px;
}

.item-materials {
    background-color: #ffbf47;
}

.item-materials::after {
    content: "";

    position: absolute;
    top: 31px;
    right: 43px;

    width: 44px;
    height: 65px;

    background: url("../img/icon-materials-1.svg") center no-repeat;
}

.item-tools {
    background-color: #3bbce3;
}

.item-tools::after {
    content: "";

    position: absolute;
    top: 33px;
    right: 28px;

    width: 75px;
    height: 61px;

    background: url("../img/icon-tools-2.svg") center no-repeat;
}

.item-machinery {
    margin-right: 0px;

    background-color: #dc91d8;
}

.item-machinery::after {
    content: "";

    position: absolute;
    top: 31px;
    right: 31px;

    width: 78px;
    height: 62px;

    background: url("../img/icon-machinery-3.svg") center no-repeat;
}

.type-of-goods-item-title {
    margin: 0;
    padding-left: 23px;
    padding-bottom: 11px;

    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.type-of-goods-item a {
    display: inline-block;
    width: 135px;
    margin-left: 25px;
    margin-bottom: 22px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.type-of-goods-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.type-of-goods-item a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.new-product-wrap {
    position: absolute;
    top: 0;
    right: 60px;
}

.new-product-label {
    position: relative;
}

.red-line {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 60px;
    height: 60px;

    background-image: linear-gradient(to right top, transparent 50%, #ff5357 50%, #ff5357 80%, transparent 80%);
}

.new-product-text {
    position: absolute;
    top: 10px;
    right: -50px;

    margin: 0;

    font-size: 16px;
    line-height: 18px;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    color: #ffffff;

    transform: rotate(45deg);
}

.promo-sliders-wrapper {
    display: flex;
}

.slider {
    position: relative;

    width: 620px;
    margin-right: 20px;
}

.slider-2 {
    display: none;
}

.slider-logo {
    width: 620px;
    height: 266px;
}

.slider-logo img {
    width: 620px;
    height: 266px;
}

.slider-card {
    position: absolute;
    top: 0;
    left: 0;

    padding: 23px 20px 23px 25px;
}

.slider-title {
    margin: 0;
    padding-bottom: 2px;

    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
}

.slider-slogan {
    margin: 0;
    padding-bottom: 120px;

    font-style: 18px;
    line-height: 24px;
    color: #ffffff;
}

.catalog-link {
    display: block;
    width: 195px;
    padding: 10px 0;

    font-style: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

    background-color: #ee3643;
    border-radius: 2px;
}

.catalog-link:hover {
    background-color: #ca2c37;
}

.catalog-link:active {
    background-color: #ba2732;
}

.slider-arrow {
    width: 30px;
    height: 30px;

    background-color: transparent;
    border: 4px solid #ffffff;

    transform: rotate(45deg);

    cursor: pointer;
}

.slider-arrow-left {
    position: absolute;
    top: 114px;
    left: 25px;

    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 4px 0 4px 0;
    outline: none;
}

.slider-arrow-right {
    position: absolute;
    top: 114px;
    right: 20px;

    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px 0 4px 0;
    outline: none;
}

.slider-switches-list {
    position: absolute;
    bottom: 36px;
    left: 50%;

    display: flex;
    align-items: center;
    width: 30px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-switches-item {
    display: inline-block;
}

.slider-switch-left {
    margin-right: 10px;
}

.slider-switch {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    outline: none;

    cursor: pointer;
}

.slider-switch.active {
    background-color: #ee3643;
    border: 2px solid #ffffff;
}

.benefits {
    width: 300px;
}

.benefits-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.benefits-item {
    position: relative;

    display: block;
    width: 300px;
    margin: 0;
    padding-top: 22px;
}

.benefits-title {
    margin: 0;
    padding-left: 23px;
    padding-bottom: 11px;

    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.benefits-item a {
    display: inline-block;
    width: 135px;
    margin-left: 25px;
    margin-bottom: 22px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.benefits-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.benefits-item a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.benefit-sales {
    background-color: #8ed78f;

    margin-bottom: 20px;
}

.benefit-sales::after {
    content: "";

    position: absolute;
    top: 26px;
    right: 45px;

    width: 59px;
    height: 72px;

    background: url("../img/icon-sales-4.svg") center no-repeat;
}

.benefit-delivery {
    background-color: #ffc047;
}

.benefit-delivery::after {
    content: "";

    position: absolute;
    top: 32px;
    right: 31px;

    width: 78px;
    height: 63px;

    background: url("../img/icon-delivery-5.svg") center no-repeat;
}